<div class="col-md-{{12/controller.config('ext.devteam.width')}}">
    <section class="panel panel-default portlet-item">
        <header class="panel-heading">
            <ul class="nav nav-pills pull-right">
                <li>
                    <a class="panel-toggle text-muted" href="#"><i class="fa fa-caret-down text-active"></i><i class="fa fa-caret-up text"></i></a>
                </li>
            </ul>
            产品团队
        </header>
        <section class="panel-body">
            <article class="media">
                <div class="pull-left">
                                <span class="fa-stack fa-lg">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-hourglass fa-stack-1x text-white"></i>
                      </span>
                </div>
                <div class="media-body">
                    <h4 class="h4">总策划</h4>
                    <small class="block m-t-xs"><a href="https://cn.linkedin.com/in/%E8%89%BA-%E5%AE%8B-1b998a113" class="text-info" target="_blank">宋艺</a> tssccm@163.com</small>
                </div>
            </article>
            <div class="line pull-in"></div>
            <article class="media">
                <div class="pull-left">
                                <span class="fa-stack fa-lg">
                        <i class="fa fa-circle fa-stack-2x "></i>
                        <i class="fa fa-hourglass-1 fa-stack-1x text-white"></i>
                      </span>
                </div>
                <div class="media-body">
                    <h4 class="h4">产品设计及研发团队</h4>
                    <small class="block m-t-xs">李承志</small>
                </div>
            </article>
            <div class="line pull-in"></div>
            <article class="media">
                <div class="pull-left">
                                <span class="fa-stack fa-lg">
                        <i class="fa fa-circle fa-stack-2x "></i>
                        <i class="fa fa-hourglass-2 fa-stack-1x text-white"></i>
                      </span>
                </div>
                <div class="media-body">
                    <h4 class="h4 ">界面及用户体验团队</h4>
                    <small class="block m-t-xs">巩志敏</small>
                </div>
            </article>
            <div class="line pull-in"></div>
            <article class="media">
                <div class="pull-left">
                                <span class="fa-stack fa-lg">
                        <i class="fa fa-circle fa-stack-2x "></i>
                        <i class="fa fa-hourglass-3 fa-stack-1x text-white"></i>
                      </span>
                </div>
                <div class="media-body">
                    <h4 class="h4 ">文档编写</h4>
                    <small class="block m-t-xs">于江娜，刘竹君，李超</small>
                </div>
            </article>
        </section>
    </section>
</div>
