<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">{{controller.meta_title}}</h4>
        </div>
        <form id="ajaxForm" method="post" class="form-horizontal" action="/admin/job/edit" data-validate="parsley">
            <div class="modal-body">
                <div class="form-group">
                    <label class="col-sm-2 control-label">姓名</label>
                    <div class="col-sm-10">
                        <div class="row">
                            <div class="col-md-12">
                                {{data.name}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">求职岗位</label>
                    <div class="col-sm-10">
                        <div class="row">
                            <div class="col-md-12">
                                {% for recruit in recruitList %}
                                {% if data.recruit_id == recruit.id %}{{recruit.title}}{%endif%}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">工作年限</label>
                    <div class="col-sm-10">
                        <div class="row">
                            <div class="col-md-12">
                                {{data.year_work}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">联系方式</label>
                    <div class="col-sm-10">
                        <div class="row">
                            <div class="col-md-12">
                                {{data.tel}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">职位优势</label>
                    <div class="col-sm-10">
                        <div class="row">
                            <div class="col-md-12">
                                {{data.desc}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">用户名</label>
                    <div class="col-sm-10">
                        <div class="row">
                            <div class="col-md-12">
                                {{data.wx_user_id}}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">备注信息</label>
                    <div class="col-sm-10">
                        <div class="row">
                            <div class="col-md-12">
                                <textarea class="form-control" name="remark" data-required="true">{{data.remark}}</textarea>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <input type="hidden" class="form-control" name="id" value="{{data.id}}" data-required="true" >
                <a href="#" class="btn btn-default" data-dismiss="modal">关闭</a>
                <button class="btn btn-primary btn-s-md ajax-post" type="submit" target-form="form-horizontal">确定</button>
            </div>
        </form>
    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
